body{
    background-color: rgb(221, 226, 161);
    
}

.formclass{
    
}

#formCSS{
    margin-left: 500px;
    margin-top: 80px;
    margin-right: 400px;
}
h1{
    font-family: 'Segoe UI', Verdana, sans-serif    ;
    color: rgb(32, 13, 84);
    text-align: center;
}